.Header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}
.Header button {
  height: 100%;
}
.Header h3 {
  margin: 0.5rem 1rem;
}
.AddTodo {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AddTodo input {
  max-width: 25rem;
}
